@CHARSET "UTF-8";

body {
	margin: 10px 300px 10px 300px;
	font-size:80%;
	line-height: 140%;
	padding: 0px;
}
#menu ul{
margin: 0;
padding :0;
list-style: none;
}
#menu li{
padding: 0;
margin: 0;
float: left;
}
#menu li a{
background: url(../image/next.png) no-repeat left center;
padding: 2px 0px 3px 18px;
color: #555;
width: 100px;
margin: 1px 0px;
text-decoration: none;
border-bottom: 1px dotted #666666;
font-size: 14px;
}
#menu li a:hover{
background: url(../image/back.png) no-repeat left center;
}

